.places {
    max-width: calc(100% - 296px);
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: calc(100% - 96px);
    } 
}

@media screen and (max-width: 768px) {
    .places {
        max-width: calc(100% - 48px);
        /* max-width: 100%; */
    } 
}

@media screen and (max-width: 320px) {
    .places {
        /* max-width: calc(100% - 32px); в этом варианте картинки не на весь размер */
        min-width: 100%;
        /* пришлось задавать вот так и передвигать текст через отступы */
    } 
}
