.header {
    max-width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width:768px) {
    .header {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width:320px) {
    .header {
        max-width: calc(100% - 32px);
    }
}