.footer__links {
    list-style: none;
    display: flex;
}

/* Самостоятельное решение для iphone x */
@media screen and (max-width: 700px) {
    .footer__links {
        flex-direction: column;
        padding-left: 8px;
        padding-bottom: 30px;
    } 
}

@media screen and (max-width: 320px) {
    .footer__links {
        padding-left: 16px;
        padding-bottom: 48px;
    } 
}