.lead__image {
    max-width: 984px;
    /* max-width: calc(100% - 296px); */
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        /* max-width: calc(100% - 96px); */
    } 
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-width: 100%;
    } 
}

/* @media screen and (max-width: 320px) {
    .lead__image {
        max-width: 100%;
    } 
} */