.lead__caption {
    margin: 8px 0 0 0;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.4;
    align-self: flex-start;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        padding-left: 24px;
    } 
}

@media screen and (max-width: 320px) {
    .lead__caption {
        padding-left: 16px;
    } 
}