.place {
    display: grid;
    column-gap: 40px;
    row-gap: 48px;
    grid-template-columns: fit-content(460px) 1fr;
    grid-template-rows: min-content 1fr;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        /* display: grid; */
        column-gap: 32px;
        /* row-gap: 48px; */
        grid-template-columns: fit-content(440px) 1fr;
        /* grid-template-rows: min-content 1fr; */
        margin-bottom: 80px;
    } 
}

@media screen and (max-width: 900px) {
    .place {
        /* display: grid; */
        /* row-gap: 48px; */
        grid-template-columns: fit-content(380px) 1fr;
        /* grid-template-rows: min-content 1fr; */
    } 
}

@media screen and (max-width: 768px) {
    .place {
        /* display: grid; */
        column-gap: 28px;
        /* row-gap: 48px; */
        grid-template-columns: fit-content(340px) 1fr;
        /* grid-template-rows: min-content 1fr; */
        margin-bottom: 73px;
    } 
}

/* Дополнительное условие для повышения читабельности */
@media screen and (max-width: 700px) {
    .place {
        /* display: grid; */
        grid-template-columns: repeat(auto-fit, 100%);
        row-gap: 30px;
        margin-bottom: 55px;
    } 
}

@media screen and (max-width: 320px) {
    .place {
        /* display: grid; */
        /* grid-template-columns: repeat(auto-fit, 100%); */
        row-gap: 32px;
        margin-bottom: 50px;
    } 
}
