.page__container-intro {
    padding-bottom: 92px;
    padding-left: 148px;
}

@media screen and (max-width: 1024px) {
    .page__container-intro {
        padding-bottom: 92px;
        padding-left: 48px;
    } 
}

@media screen and (max-width: 768px) {
    .page__container-intro {
        padding-bottom: 88px;
        padding-left: 24px;
    } 
}

@media screen and (max-width: 320px) {
    .page__container-intro {
        padding-bottom: 64px;
        padding-left: 16px;
    } 
}
